body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #app {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background: #218838;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  
  li.important {
    background-color: #ffeb3b;
  }
  
  li .note-text {
    flex-grow: 1;
  }
  
  li .important-label {
    color: red;
    font-weight: bold;
    margin-left: 10px;
  }
  
  li button {
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    text-align: center;
}
  
  li button.edit-btn {
    background: #17a2b8;
    color: #000;
  }
  
  li button.important-btn {
    background: #ffc107;

    color: #fff;
  }
  
  li button:hover {
    opacity: 0.8;
  }